<?xml version="1.0"?>
<launch>

<param name="robot_description"
  command="xacro --inorder '$(find food_maker)/urdf/robot.urdf.xacro'" />
    <node args="-param robot_description -urdf -x 0 -y 0 -z 0.0 -model food_maker" name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" />
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <!-- <arg name="world_name" value="$(find project_car)/worlds/competition_arena.world" /> -->
        <arg name="paused" value="false" />
        <arg name="use_sim_time" value="true" />
        <arg name="gui" value="true" />
        <arg name="headless" value="false" />
        <arg name="debug" value="true" />
    </include>
    
    <!-- State Publisher -->
      <node name="robot_state_publisher" output="screen" pkg="robot_state_publisher" respawn="false" type="robot_state_publisher">
    </node>
     <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find UR10_movable)/cfg/view_robot.rviz" required="true" /> -->
</launch>
